/* PaginaWebCss.css */ 
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: hsla(0, 0%, 0%, 1);
    background-image: 
        radial-gradient(circle at 7% 81%, hsla(172, 0%, 0%, 1) 16%, transparent 53%), 
        radial-gradient(circle at 5% 1%, hsla(166.53061224489795, 72%, 60%, 1) 7%, transparent 84%), 
        radial-gradient(circle at 39% 52%, hsla(87.85714285714286, 91%, 23%, 1) 6%, transparent 68%), 
        radial-gradient(circle at 11% 29%, hsla(87.85714285714286, 91%, 23%, 1) 8%, transparent 74%), 
        radial-gradient(circle at 90% 50%, hsla(106.00000000000003, 0%, 0%, 1) 2%, transparent 85%);
    background-blend-mode: normal, normal, normal, normal, normal;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: flex-end; 
    flex-grow: 1; 
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px; 
    background-color: hsla(0, 0%, 0%, 0.7); 
    border-radius: 15px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    margin: 10px;
}

nav a:hover {
    background-color: hsla(0, 0%, 0%, 0.9);
    transform: scale(1.3);
}
