/* Iniciar_sesion.css */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Degradado de fondo */
}

.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
}

header {
    margin-bottom: 20px;
}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.login-container:hover {
    transform: scale(1.03); /* Efecto de zoom */
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s;
}

input:focus {
    border-color: #6a11cb; /* Cambia el color del borde al enfocarse */
    outline: none; /* Quita el borde por defecto */
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.boton-iniciar-sesion,
.boton-volver {
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%; /* Asegura que ambos botones tengan el mismo ancho */
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold; /* Texto en negrita */
}

.boton-iniciar-sesion {
    background-color: #28a745; /* Verde */
    color: white;
}

.boton-iniciar-sesion:hover {
    background-color: #218838; /* Verde oscuro */
    transform: translateY(-2px);
}

.boton-volver {
    background-color: #6c757d; /* Gris */
    color: white;
}

.boton-volver:hover {
    background-color: #5a6268; /* Gris oscuro */
    transform: translateY(-2px);
}

#message, #register-message {
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
}

p {
    margin-top: 15px;
}

a {
    color: #6a11cb; /* Color del enlace */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline; /* Subrayar el enlace al pasar el ratón */
}
